# One Sample Z Test

Performed when the population means and standard deviation are known.

## Example-1

- Suppose that a beach is safe to swim if the mean level of lead in the water is 10.0 (μ0) parts/million.  
- We assume Xi ~ N(μ, σ = 1.5)
- Water safety is going to be determined by taking 40 water samples and using the test statistic. 
- Sample mean = 10.5
- α = 0.05

In [1]:
import scipy.stats as stats
from math import sqrt

In [2]:
x_bar = 10.5 # sample mean 
n = 40 # number of samples
sigma = 1.5 # sd of population
mu = 10 # Population mean

Calculate the test statistic

In [3]:
z = (x_bar - mu)/(sigma/sqrt(n))
z

2.1081851067789197

Calculate the p-value

In [4]:
p_value = 1- stats.norm.cdf(2.1)
p_value

0.017864420562816563

In [6]:
alpha = 0.05

if p_value<alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.05 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.

# One Sample t Test

## Example-1

- Bon Air ELEM has 1000 students. The principal of the school thinks that the average IQ of students at Bon Air is at least 110. To prove her point, she administers an IQ test to 20 randomly selected students. 
- Among the sampled students, the average IQ is 108 with a standard deviation of 10. 
- Based on these results, should the principal accept or reject her original hypothesis? α = 0.01

In [7]:
x_bar = 108 # sample mean 
n = 20 # number of students
s = 10 # sd of sample
mu = 110 # Population mean 
alpha = 0.01

Calculate the test statistic

In [8]:
t = (x_bar - mu)/(s/sqrt(n))
t

-0.8944271909999159

In [9]:
p_value = stats.t.cdf(t, n-1)
p_value

0.1911420676837155

In [10]:
if p_value<alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.01 level of significance, we fail to reject the null hypothesis.

# Example-2

### scipy.stats

In [11]:
pip install statsmodels

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: statsmodels in /usr/local/lib/python3.9/dist-packages (0.13.5)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels) (23.0)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.9/dist-packages (from statsmodels) (1.5.3)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels) (1.10.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.9/dist-packages (from statsmodels) (1.22.4)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.9/dist-packages (from statsmodels) (0.5.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.25->statsmodels) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

In [12]:
import statsmodels.api as sm

In [13]:
df = sm.datasets.get_rdataset(dataname = "Pima.tr", package = "MASS")
df.keys()

dict_keys(['data', '__doc__', 'package', 'title', 'from_cache'])

In [14]:
print(df.__doc__)

.. container::

   ======= ===============
   Pima.tr R Documentation
   ======= ===============

   .. rubric:: Diabetes in Pima Indian Women
      :name: diabetes-in-pima-indian-women

   .. rubric:: Description
      :name: description

   A population of women who were at least 21 years old, of Pima Indian
   heritage and living near Phoenix, Arizona, was tested for diabetes
   according to World Health Organization criteria. The data were
   collected by the US National Institute of Diabetes and Digestive and
   Kidney Diseases. We used the 532 complete records after dropping the
   (mainly missing) data on serum insulin.

   .. rubric:: Usage
      :name: usage

   ::

      Pima.tr
      Pima.tr2
      Pima.te

   .. rubric:: Format
      :name: format

   These data frames contains the following columns:

   ``npreg``
      number of pregnancies.

   ``glu``
      plasma glucose concentration in an oral glucose tolerance test.

   ``bp``
      diastolic blood pressure (mm Hg).

   ``skin``
      triceps skin fold thickness (mm).

   ``bmi``
      body mass index (weight in kg/(height in m)\ ``^2``).

   ``ped``
      diabetes pedigree function.

   ``age``
      age in years.

   ``type``
      ``Yes`` or ``No``, for diabetic according to WHO criteria.

   .. rubric:: Details
      :name: details

   The training set ``Pima.tr`` contains a randomly selected set of 200
   subjects, and ``Pima.te`` contains the remaining 332 subjects.
   ``Pima.tr2`` contains ``Pima.tr`` plus 100 subjects with missing
   values in the explanatory variables.

   .. rubric:: Source
      :name: source

   Smith, J. W., Everhart, J. E., Dickson, W. C., Knowler, W. C. and
   Johannes, R. S. (1988) Using the ADAP learning algorithm to forecast
   the onset of *diabetes mellitus*. In *Proceedings of the Symposium on
   Computer Applications in Medical Care (Washington, 1988),* ed. R. A.
   Greenes, pp. 261–265. Los Alamitos, CA: IEEE Computer Society Press.

   Ripley, B.D. (1996) *Pattern Recognition and Neural Networks.*
   Cambridge: Cambridge University Press.

In [15]:
df.data

     npreg  glu  bp  skin   bmi    ped  age type
0        5   86  68    28  30.2  0.364   24   No
1        7  195  70    33  25.1  0.163   55  Yes
2        5   77  82    41  35.8  0.156   35   No
3        0  165  76    43  47.9  0.259   26   No
4        0  107  60    25  26.4  0.133   23   No
..     ...  ...  ..   ...   ...    ...  ...  ...
195      2  141  58    34  25.4  0.699   24   No
196      7  129  68    49  38.5  0.439   43  Yes
197      0  106  70    37  39.4  0.605   22   No
198      1  118  58    36  33.3  0.261   23   No
199      8  155  62    26  34.0  0.543   46  Yes

[200 rows x 8 columns]

In [16]:
df = df.data

In [17]:
df.head()

   npreg  glu  bp  skin   bmi    ped  age type
0      5   86  68    28  30.2  0.364   24   No
1      7  195  70    33  25.1  0.163   55  Yes
2      5   77  82    41  35.8  0.156   35   No
3      0  165  76    43  47.9  0.259   26   No
4      0  107  60    25  26.4  0.133   23   No

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   npreg   200 non-null    int64
 1   glu     200 non-null    int64
 2   bp      200 non-null    int64
 3   skin    200 non-null    int64
 4   bmi     200 non-null    float64
 5   ped     200 non-null    float64
 6   age     200 non-null    int64
 7   type    200 non-null    object
dtypes: float64(2), int64(5), object(1)
memory usage: 12.6+ KB

In [19]:
df.describe()

,npreg,glu,bp,skin,bmi,ped,age
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,3.570000,123.970000,71.260000,29.215000,32.310000,0.460765,32.110000
std,3.366268,31.667225,11.479604,11.724594,6.130212,0.307225,10.975436
min,0.000000,56.000000,38.000000,7.000000,18.200000,0.085000,21.000000
25%,1.000000,100.000000,64.000000,20.750000,27.575000,0.253500,23.000000
50%,2.000000,120.500000,70.000000,29.000000,32.800000,0.372500,28.000000
75%,6.000000,144.000000,78.000000,36.000000,36.500000,0.616000,39.250000
max,14.000000,199.000000,110.000000,99.000000,47.900000,2.288000,63.000000

In [ ]:
# suppose we hypothesize that the population mean of bmi among Pima Indian women is above 30.
# Because we found sample mean as x_bar = 32.31

In [20]:
# bmi mean:
# Ho: mu = 30
# Ha: mu >30

In [21]:
df.bmi.mean()

32.31

In [ ]:
# sample size = 200
# sample std = 6.13
# sample mean = 32.31

In [22]:
onesample = stats.ttest_1samp (df["bmi"], 30)
onesample

TtestResult(statistic=5.329070841262502, pvalue=2.6614410307455736e-07, df=199)

In [28]:
#help(stats.ttest_1samp)

In [24]:
onesample.pvalue/2        #because it is a two sided test we should divide the p_value by 2 at the and if we are seeking one side test.

1.3307205153727868e-07

In [ ]:
alpha = 0.05
if onesample.pvalue/2<alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.05 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.

In [ ]:
# rather than dividing pvalue with 2 we can use alternative = "greater"
onesample = stats.ttest_1samp (df["bmi"], 30, alternative = "greater")
onesample

Ttest_1sampResult(statistic=5.329070841262502, pvalue=1.3307205153727868e-07)

## Classical method for Example 2

In [29]:
sem = df.bmi.sem()    # sigma_x_bar = sem
sem

0.43347143785627434

In [30]:
t = (df.bmi.mean()-30)/sem
t

5.329070841262502

In [31]:
p_value = 1-stats.t.cdf(t, df.shape[0]-1)
p_value

1.3307205160018043e-07

# Example-3

In [32]:
import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [33]:
df = sns.load_dataset("penguins")
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [34]:
df = df.dropna()
df.shape

(333, 7)

In [35]:
df[df.sex=="Male"].describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      168.000000     168.000000         168.000000   168.000000
mean        45.854762      17.891071         204.505952  4545.684524
std          5.366896       1.863351          14.547876   787.628884
min         34.600000      14.100000         178.000000  3250.000000
25%         40.975000      16.075000         193.000000  3900.000000
50%         46.800000      18.450000         200.500000  4300.000000
75%         50.325000      19.250000         219.000000  5312.500000
max         59.600000      21.500000         231.000000  6300.000000

In [40]:
df[df.sex=="Male"].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            168 non-null    object
 1   island             168 non-null    object
 2   bill_length_mm     168 non-null    float64
 3   bill_depth_mm      168 non-null    float64
 4   flipper_length_mm  168 non-null    float64
 5   body_mass_g        168 non-null    float64
 6   sex                168 non-null    object
dtypes: float64(4), object(3)
memory usage: 10.5+ KB

In [36]:
# avg body mass for male penguins:
# Ho: mu = 4500
# Ha: mu > 4500

In [38]:
onesample = stats.ttest_1samp (df[df.sex=="Male"].body_mass_g, 4500, alternative = "greater")
onesample

TtestResult(statistic=0.7517996322753101, pvalue=0.22661489865701812, df=167)

In [ ]:
# df: The number of degrees of freedom used in calculation of the

In [42]:
#help(stats.ttest_1samp)

In [ ]:
alpha = 0.05
if onesample.pvalue<alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.05 level of significance, we fail to reject the null hypothesis.

# Example-4

In [43]:
df = sns.load_dataset("mpg")
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [44]:
df = df.dropna()
df.shape

(392, 9)

In [45]:
df[df.origin=="usa"].describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,245.000000,245.000000,245.000000,245.00000,245.000000,245.000000,245.000000
mean,20.033469,6.277551,247.512245,119.04898,3372.489796,14.990204,75.591837
std,6.440384,1.655996,98.376347,39.89779,795.346690,2.736020,3.660368
min,9.000000,4.000000,85.000000,52.00000,1800.000000,8.000000,70.000000
25%,15.000000,4.000000,151.000000,88.00000,2720.000000,13.000000,73.000000
50%,18.500000,6.000000,250.000000,105.00000,3381.000000,15.000000,76.000000
75%,24.000000,8.000000,318.000000,150.00000,4055.000000,16.700000,78.000000
max,39.000000,8.000000,455.000000,230.00000,5140.000000,22.200000,82.000000

# avg mpg for usa cars:
# Ho: mu = 20
# Ha: mu > 20

In [46]:
onesample = stats.ttest_1samp (df[df.origin=="usa"].mpg, 20, alternative = "greater")
onesample

TtestResult(statistic=0.08134278565721932, pvalue=0.46761801558957883, df=244)

In [47]:
alpha = 0.05
if onesample.pvalue<alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.05 level of significance, we fail to reject the null hypothesis.